.block-none {

   .block-none__title {
      font-size: 36px;
      margin-bottom: 25px;
   }

   .block-none__text {
      font-size: 20px;
      margin-bottom: 10px;
   }

   .block-none__btn {
      font-size: 20px;
   }

}

.like {

   .like__title {
      font-size: 36px;
      color: #eb3c3c;
      margin-bottom: 20px;

      @media (max-width: 576px) {
         text-align: center;
      }
   }

   .like__block{
      display: flex;
      gap: 0.5%;
      row-gap: 20px;
      flex-wrap: wrap;      
      @media (max-width: 579px) and (min-width: 400px){
         gap: 1%;
      }
      @media (max-width: 400px){
         gap: 0px;
         justify-content: space-between;
      }
   }

   .like__item{
      width: 33%;
      height: 490px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: 1000px) and (min-width: 768px) {
         height: 450px;
      }
      @media (max-width: 840px) and (min-width: 700px) {
         height: 400px;
      }
      @media (max-width: 700px) and (min-width: 579px) {
         height: 370px;
      }
      @media (max-width: 579px) and (min-width: 475px) {
         width: 49%;
         height: 410px;
      }
      @media (max-width: 475px) and (min-width: 350px){
         width: 49%;
         height: 370px;
      }
      @media (max-width: 350px){
         width: 47%;
         height: 340px;
      }
      .like__item__info{
         display: flex;
         flex-direction: column;
         gap: 10px;
         margin-bottom: 15px;
      }
   }

   .like__block__btn{
      width: 150px;
      height: 40px;
      background-color: #eb3c3c;
      color: white;
      border-radius: 8px;     
   }
   .like__block__btn:hover{
      background-color: white;
      color: #eb3c3c;
      border: 2px solid #eb3c3c;
   }
}