.home{
   width: 1170px;
   margin: 0 auto;
   .home__shoes{
      display: flex;
      flex-wrap: wrap;
      
      .home__shoes__item{
         width: 25%;
      }
      
   }
   .home__btn{
      display: flex;
      justify-content: center;
   }
   .home__shoes__button{
      width: 150px;
      height: 40px;
      border: 2px solid salmon;
      border-radius: 10px;
      color: salmon;
      margin-top: 25px;
   }
   .home__shoes__button:hover{     
      background-color: salmon;
      color: white;
   }
   .home__nav{
      display: flex;
      justify-content: space-between;
   }
   
}


