.home{
   max-width: 1170px;
   margin: 0 auto;
   .home__shoes{
      display: flex;
      flex-wrap: wrap;
      
      .home__shoes__item{
         width: 25%;
         @media (max-width: 569px) {
            width: 50%;
          }
      }
      
   }
   .home__btn{
      display: flex;
      justify-content: center;
   }
   .home__shoes__button{
      width: 150px;
      height: 40px;
      border: 2px solid #EB3C3C;
      border-radius: 10px;
      color: #EB3C3C;
      margin-top: 25px;
   }
   .home__shoes__button:hover{     
      background-color: #EB3C3C;
      color: white;
   }
   .home__nav{
      display: flex;
      justify-content: space-between;
   }
}


