.shoes{
   display: flex;
   flex-direction: column;
   height: auto;
   .shoes__img{
      background-color: rgb(253, 250, 250);
      border-radius: 10px;
      margin-bottom: 5px;
   }

   .shoes__name{
      margin-bottom: 5px
   }
   
   .shoes__price{
      color: #EB3C3C;
      font-size: 18px;
      font-weight: 500;
   }
}
